#hero {
    width: 70%;
    height: 80%;
    min-height: fit-content;
    z-index: 100;
    top: 10%;
    left: 15%;
}

.hero-text {
    margin-top: 3rem;
    margin-left: 3rem;
}

.hero-text h1 {
    margin-top: 10rem;
}

/* --------------------------------- */

#about-me {
    width: 72%;
    height: 60%;
    min-height: fit-content;
    z-index: 90;
    top: 8%;
    left: 10%;
}

#about-me .page-content {
    display: flex;
    /* justify-content: space-around; */
    /* border: 1px solid red; */
    height: 100%;
}

#about-me .body-text {
    width: fit-content;
    min-width: 45%;
    height: 90%;
    /* height: 800px; */
    padding: 1rem;
    margin: auto;
    /* border: 1px solid red; */
    text-align: center;
}

#about-me li {
    /* border: 1px solid red; */
    width: fit-content;
}

#about-me ul {
    /* border: 1px solid red; */
    width: fit-content;
    margin: auto;
}

#about-me .dividing-line-vertical {
    height: 80%;
    width: 2px;
    background-color: #ffffff;
    display: flex;
    margin: auto;
    /* border: 1px solid red; */
}

#about-me .dividing-line-horizontal {
    display: none;
    /* border: 1px solid red; */
}

/* ------------------------------------ */

#developing-skills {
    width: 60%;
    height: 80%;
    min-height: fit-content;
    z-index: 80;
    top: 12%;
    left: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills {
    display: flex;
    justify-content: space-around;
}

#developing-skills .page-content {
    padding: 2rem;
    /* border: 1px solid red; */
}

.icons {
    /* border: 1px solid red; */
    margin: 2rem auto;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* ------------------------------------ */

#projects-overlay {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 70;
}

#projects-overlay .page-content {
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-overlay p {
    font-weight: 500;
    font-size: 24px;
}

/* ----------------------------------------- */
/* Showcase#1 */
/* ----------------------------------------- */
/* carousel */
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
}

/* #projects .page-content{
    border: 1px solid red;
} */

.carousel-image {
    display: flex;
    width: fit-content;
    height: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.carousel-image img {
    height: 100%;
}

.carousel-image.is-visible:hover {
    transform: translateY(20px);
    transition: transform 0.3s ease-in-out;
  }

.gallery{
    width: 60%;
    height: 200px;
    margin: auto;
    position: relative;
    /* border: 1px solid red; */
}

.gallery-cell {
    /* border: 1px solid red; */
    width: 40%;
    height: 200px;
    margin-right: 50px;
    /* counter-increment: gallery-cell; */
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    /* text-align: center; */
    content: "";
    /* line-height: 200px;
    font-size: 80px; */
  }

/* ----------------------------------------- */
/* nintendo switch */
#projects .page-content{
    width: 100%;
}

#projects{
    width: 100%;
    height: 100vh;
}

.nintendo-switch-container {
    position: relative;
}

.nintendo-switch {
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
    /* border: 1px solid yellow; */
}

.current-image-description {
    /* font-family: 'TomorrowNight'; */
    position: absolute;
    top: 15%;
    left: 27.5%;
    width: 45%;
    height: 70%;
    /* background-color: white; */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    /* border: 1px solid red; */
}

.current-image-description h3 {
    /* background-color: white; */
    background-color: transparent;
    color: #ffffff;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 1rem;
}

.current-image-description p {
    /* background-color: white; */
    background-color: transparent;
    color: #D3D3D3;
    font-weight: 400;
    text-align: center;
}

/* ----------------------------------------- */
/* animation */
.move {
    animation: move-anim 1.25s;
    position: relative;
}

@keyframes move-anim {
    0% {
        top: 0px;
    }

    100% {
        top: 400px;
    }
}

/* -----------------Responsive------------------------ */

@media only screen and (max-width: 1250px) {
    .carousel {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    #hero,
    #about-me,
    #developing-skills {
        width: 100vw;
        height: 90vh;
    }

    #about-me .page-content {
        flex-direction: column;
    }

    #about-me .dividing-line-vertical{
        display: none;
    }

    #about-me .dividing-line-horizontal{
        display: block;
        height: 2px;
        width: 80%;
        background-color: #ffffff;
        display: flex;
        margin: auto;
    }

    #about-me .body-text{
        width: 90%;
    }

    .nintendo-switch {
        width: 100%;
    }

    .current-image-description {
        left: 20%;
        width: 60%;
        height: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .current-image-description h3 {
        font-size: 20px;
        margin: 0.25rem 0;
    }
    
    .current-image-description p {
        font-size: 12px;
        margin: 0.25rem 0;
    }
}