* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    background-color: #ffffff;
}

h1{
    font-weight: 700;
    font-size: 48pt;
}

h2{
    font-weight: 700;
    font-size: 36pt;
}

h3{
    font-weight: 700;
    font-size: 24pt;
}

h4{
    font-weight: 400;
    font-size: 20pt;
}

p{
    font-weight: 400;
    font-size: 16pt;
}

.lavender-blush{
    color: #ffffff;
    background-color: #feb1e3;
}

.light-cornflower-blue{
    color: #ffffff;
    background-color: #c7dfff;
}

.misty-rose{
    color: #feb1e3;
    background-color: #feeaf2;
}

/* -------------------------------------------- */

.page-piling{
    position: absolute;
    transition: transform 0.5s ease-out;
}

.page-content{
    opacity: 0;
    background-color: transparent;
}