* {
    box-sizing: border-box;
    background-color: #f8eee3;
    color: white;
    font-family: 'Montserrat';
}

h2{
    background-color: transparent;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* -------------------------------------------- */

.page-piling{
    position: absolute;
    /* width: 80%;
    height: 80%; */
    /* background-color: blue; */
    /* bottom: 0; */
    transition: transform 0.5s ease-out; /* 添加这行 */
}