* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    background-color: #ffffff;
}

header{
    position: fixed;
    z-index: 1000;
}

h1{
    font-weight: 700;
    font-size: 48pt;
}

h2{
    font-weight: 700;
    font-size: 36pt;
}

h3{
    font-weight: 500;
    font-size: 24pt;
    margin: 2rem 0 0 0;
}

h4{
    font-weight: 400;
    font-size: 20pt;
}

p{
    font-weight: 400;
    font-size: 16pt;
}

li{
    font-weight: 400;
    font-size: 16pt;
}

.lavender-blush{
    color: #ffffff;
    background-color: #feb1e3;
}

.light-cornflower-blue{
    color: #ffffff;
    background-color: #c7dfff;
}

.misty-rose{
    color: #feb1e3;
    background-color: #feeaf2;
}

.white{
    color: #feb1e3;
    background-color: #ffffff;
}

.cornflower-blue{
    color: #ffffff;
    background-color: #8b93d6;
}

.royal-blue{
    color: #ffffff;
    background-color: #3d4bba;
}

.nav-main{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    /* border: 1px solid red; */
}

.nav-button{
    text-decoration: none;
    font-size: 16pt;
    font-weight: 500;
    color: #8b93d6;
    transition: all 0.3s ease-out;
}

.nav-button:hover,
.nav-button:focus{
    color: #3d4bba;
}

/* -------------------------------------------- */

.page-piling{
    position: absolute;
    transition: transform 0.5s ease-out;
    box-shadow: 0 3px 6px darkgray;
}

.page-content{
    opacity: 0;
    background-color: transparent;
}