#project-1{
    width: 80%;
    height: 80%;
    top: 14%;
    left: 12%;
    z-index: 60;

    padding: 2rem;
}

h2{
    margin-bottom: 3rem;
}

p{
    margin-bottom: 3rem;
}

#project-2{
    width: 80%;
    height: 80%;
    top: 12%;
    left: 10%;
    z-index: 50;

    padding: 2rem;
}

#project-3{
    width: 80%;
    height: 80%;
    top: 10%;
    left: 8%;
    z-index: 40;

    padding: 2rem;
}

/* #hero-carousel{
    height: 30%;
    border: 1px solid red;
} */

.carousel-inner{
    max-height: 450px;
    /* border: 1px solid red; */
}

.carousel-item img{
    margin: auto;
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: #8b93d6;
    border-radius: 50%;
} */

.image-flex{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

@media only screen and (max-width: 800px) {
    #project-1,
    #project-2,
    #project-3 {
        width: 100vw;
        height: 90vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}