#cover{
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fonts{
    width: 80%;
    height: 80%;
    top: 8%;
    left: 8%;
    z-index: 90;

    padding-top: 3rem;
    padding-left: 2rem;
}

#palette{
    width: 80%;
    height: 80%;
    top: 6%;
    left: 6%;
    z-index: 80;
}

#introduction{
    width: 80%;
    height: 80%;
    top: 8%;
    left: 8%;
    z-index: 70;

    padding: 0 2rem;
}

#project-1-1{
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    z-index: 60;

    padding: 0 2rem;
}

#project-1-2{
    width: 80%;
    height: 80%;
    top: 8%;
    left: 8%;
    z-index: 50;

    padding: 0 2rem;
}