#style-first{
    width: 80%;
    height: 80%;
    background-color: #f9cf93;
    top: 10%;
    left: 10%;
    z-index: 100;
}

#style-second{
    width: 80%;
    height: 80%;
    background-color: #f9e4c8;
    top: 8%;
    left: 8%;
    z-index: 90;
}

#style-third{
    width: 80%;
    height: 80%;
    background-color: #dbd0c0;
    top: 6%;
    left: 6%;
    z-index: 80;
}